<% content_for :header do %>
  <%= include_stylesheets :shared, :media => 'screen' %>
<% end %>

<div id="container">
	<div class="grid_12" id="header">
		<a href="/" id="logo">Home</a>
		<div id="menu_info">
			&nbsp;
		</div>
		<ul>
			<li><a class="background_color1 active" href="#" data-info-desc="A place for thoughts and experiments" data-info-color="#a92842">Blog</a></li>
			<li><a href="#" data-info-desc="A collection of recent projects" data-info-color="#8028a9">Work</a></li>
			<li><a class="background_color1" href="#" data-info-desc="A link to my Github profile" data-info-color="#2835a9">Code</a></li>
			<li><a href="#" data-info-desc="Details about me" data-info-color="#28a92e">Info</a></li>
			<li><a class="background_color1" href="#" data-info-desc="Questions and inquiries" data-info-color="#d0d20e">Mail</a></li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	
	<div class="grid_7">
		<div class="box_1">&nbsp;</div>
		<div class="box_1 background_gray">&nbsp;</div>
		<div class="box_1">&nbsp;</div>
		<div class="box_1 background_gray">&nbsp;</div>
		<div class="box_1">&nbsp;</div>
		<div class="box_1 background_gray">&nbsp;</div>
		
		<div class="box_1 background_gray">&nbsp;</div>
		<div class="box_1">&nbsp;</div>
		<div class="box_1 background_gray">&nbsp;</div>
		<div class="box_1">&nbsp;</div>
		<div class="box_1 background_gray">&nbsp;</div>
		<div class="box_1">&nbsp;</div>
		
		<div class="box_1">&nbsp;</div>
		<div class="box_1 background_gray">&nbsp;</div>
		<div class="box_1">&nbsp;</div>
		<div class="box_1 background_gray">&nbsp;</div>
		<div class="box_1">&nbsp;</div>
		<div class="box_1 background_gray">&nbsp;</div>
		
		<div class="box_1 background_gray">&nbsp;</div>
		<div class="box_1">&nbsp;</div>
		<div class="box_1 background_gray">&nbsp;</div>
		<div class="box_1">&nbsp;</div>
		<div class="box_1 background_gray">&nbsp;</div>
		<div class="box_1">&nbsp;</div>
		
		<div class="clear"></div>
	</div>
	<div class="grid_5 link_style2" id="welcome">
		<p><a href="#">I</a> am a <a href="#">multimedia artist</a> working in the fields of <a href="#">programming</a> and <a href="#">graphic design</a>. My work include both <a href="#">physical</a> and <a href="#">digital</a> projects ranging from <a href="#">print design</a> and <a href="#">gallery installations</a> to <a href="#">data visualizations</a>, <a href="#">online new media</a> and <a href="#">interactive visuals</a> for performers. I believe in <a href="#">simplicity</a> and <a href="#">organized complexity</a> side by side, and that good design is not based on <a href="#" id="nostalgia">nostalgia</a> or <a href="#" id="trendiness">trendiness</a><a href="http://www.igloo.si/essay2.html">*</a>, but an intelligent and thoughtful combination of form and content.</p>
		<p>I was born outside of <a href="#">Copenhagen</a>, but I now live in <a href="#">Brooklyn, New York</a>, where I run a small art studio. I'm currently a research resident at New York University's <a href="#">Interactive Telecommunications Program</a>, and when I get the change I also teach. I only check my <a href="#">email once a day</a>, and I generally try to break the <a href="#">nasty habits</a> of the modern office. Please feel free to <a href="#">contact me</a> for inquiries or questions.</p>
	</div>
	<div class="clear"></div>
			
			 <!-- <div class="grid_1">&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></div>
			 														<div class="grid_1">&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></div>
			 														<div class="grid_1">&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></div>
			 														<div class="grid_1">&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></div>
			 														<div class="grid_1">&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></div>
			 														<div class="grid_1">&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></div>
			 														<div class="grid_1">&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></div>
			 														<div class="grid_1">&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></div>
			 														<div class="grid_1">&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></div>
			 														<div class="grid_1">&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></div>
			 														<div class="grid_1">&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></div>
			 														<div class="grid_1">&nbsp;<br />&nbsp;<br />&nbsp;<br />&nbsp;<br /></div>
			 														<div class="clear"></div>  -->
	
</div>