<html>
<head>
	<title>runemadsen.com</title>
	<%= yield_content :header %>
</head>
<body>
	<div id="container">

		<!-- Header Start -->
		<div class="grid_12" id="header">
			<a href="/" id="logo">Home</a>
			<div id="menu_info">&nbsp;</div>
			<ul>
				<li><a class="background_color1" href="/blog" data-info-desc="Documentation, thoughts and experiments">Blog</a></li>
				<li><a href="/work" data-info-desc="A collection of recent projects" data-info-color="#8028a9">Work</a></li>
				<li><a class="background_color1" href="/code" data-info-desc="A link to my Github profile">Code</a></li>
				<li><a href="/info" data-info-desc="Details about me">Info</a></li>
				<li><a class="background_color1" href="/mail" data-info-desc="Questions and inquiries">Mail</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<%= yield %>
		</div>
</body>
</html>