<html>
<head>
	<title>runemadsen.com</title>
	<%= yield_content :header %>
</head>
<body>
	<div id="container">

		<!-- Header Start -->
		<div class="grid_12" id="header">
			<a href="/" id="logo">Home</a>
			<ul>
				<li id="menu_blog"><a href="/blog">Blog</a></li>
				<li id="menu_work"><a href="/work">Work</a></li>
				<li id="menu_code"><a href="/code">Code</a></li>
				<li id="menu_info"><a href="/info">Info</a></li>
				<li id="menu_mail"><a href="/mail">Mail</a></li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
		<%= yield %>
		</div>
</body>
</html>